*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  margin: 15vh auto ;
  padding: 10%;
  width: 70%;
}

.day{

  background-color: rgb(240, 205, 11);
}

.night{

  background-color: rgb(107, 107, 105);
}